/*
# CSS Preset
## version 1.0.0
A simple CSS preset to enable box-sizing, set some text rendering options to decrease the differences between browsers, and set a couple of nice defaults.
## Usage
    <link href=preset.css rel=stylesheet>
## Info
- author: Tommy Hodgins
- license: MIT
- website: https://github.com/tomhodgins/preset
*/

*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

ul, li {
  list-style: none;
  margin: 0;
  padding-left: 5px;
}

.container {
  display: flex;
  border: 2px solid grey;
  border-radius: 10px;
}

.modal {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  border-radius: 10px;
}

.modal header {
  margin: 5px;
}

@media(min-width: 100px) and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  
  .task-list-container footer {
    flex-direction: column;
  }

}

.pull-right {
  float: right;
}

.candidate-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  background-color: rgb(192, 202, 202);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid darkgrey;
}

.task-list-container {
  flex: 1;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color:grey;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.disp-pic {
  background-image: url('../images/disp_pic.png');
  width: 40px;
  height: 40px;
}

.dev-icon {
  background-image: url('../images/disp_pic.png');
  width: 40px;
  height: 40px;
}

.add-new-icon {
  width: 20px;
  height: 20px;
  float: left;
}

.task-list-container table {
  flex: 1;
  width: 98%;
  height: auto;
  margin: 10px;
}

.task-list-container footer {
  flex: 1;
  display: flex;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(192, 202, 202);
}
footer input {
  flex: 1;
}

table caption {
  border-bottom: 1px solid red;
}

table, th, td, caption {
  background-color: white;
  color: darkgrey;
  text-align: left;
  border-bottom: 1px solid darkgray;
  padding: 5px;
}

td:first-child {
  width: 30px;
  border-right: 1px solid red;
}

.candidate {
  display: flex;
  padding: 20px;
  align-items: center;
}

.task-count {
  color: white;
  background-color: rgb(155, 151, 151);
  border-radius: 50px;
  float: right;
  margin-right: 12px;
}

.btn {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.is-danger {
  background-color: red;
  color: white;
}

.is-success {
  background-color: green;
  color: white;
}

.is-primary {
  background-color: blue;
  color: white;
}

.field {
 display: flex;
 flex-direction: column;
 margin: 5px;
}